.main{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: auto auto;
    gap: 10px;
}
.items{
    background-color: red;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item3{
    grid-column-start: 1;
    grid-column-end: 3;
}